/* add CSS class and element and selectors here */
    body {
      font-size: 150%;
      background-image: url(https://media.giphy.com/media/l2JHRhAtnJSDNJ2py/giphy.gif);
    }
    
    /*h1 {*/
    /*  color: yellow;*/
    /*}*/
    
    /*h2 {*/
    /*  color: red;*/
    /*}*/
    
    .info-section {
      font-size: 200%;
      color: green;
      font-family: 'Abril Fatface', cursive;
      border: 1px dotted red;
    }
    
    #title-section {
      color: purple;
    }